In [1]:
## importing the libraries
import pandas as pd

In [2]:
##loading the dataset
data=pd.read_csv('hp_data.csv')

In [3]:
data.head()

,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk,price
0,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,6300000
1,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,11500000
2,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,3800000
3,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4,10500000
4,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,11500000

In [4]:
data.sale.unique() ## constant feature

array(['Resale'], dtype=object)

In [5]:
## Data preprocessing
## reducing the labels present in the place
data.place.value_counts()

Devarabeesana Halli         368
KR Puram                    358
BTM Layout                  356
Abbaiah Reddy Layout        352
Electronics City Phase 1    351
Ambalipura                  340
Yelahanka                   337
Whitefield                  327
Subramanyapura              323
Yelachenahalli              321
Sarakki Nagar                18
Malleshwaram                 17
Gunjur                       12
Frazer Town                  11
Rajaji Nagar                  9
Name: place, dtype: int64

In [6]:
data.loc[data['place']=='Devarabeesana Halli','place']='Phase1'
data.loc[data['place']=='KR Puram','place']='Phase1'
data.loc[data['place']=='BTM Layout','place']='Phase1'
data.loc[data['place']=='Abbaiah Reddy Layout','place']='Phase1'
data.loc[data['place']=='Electronics City Phase 1','place']='Phase1'

In [7]:
data.place.value_counts()

Phase1            1785
Ambalipura         340
Yelahanka          337
Whitefield         327
Subramanyapura     323
Yelachenahalli     321
Sarakki Nagar       18
Malleshwaram        17
Gunjur              12
Frazer Town         11
Rajaji Nagar         9
Name: place, dtype: int64

In [8]:
data.loc[data['place']=='Ambalipura','place']='Phase2'
data.loc[data['place']=='Yelahanka','place']='Phase2'
data.loc[data['place']=='Whitefield','place']='Phase2'
data.loc[data['place']=='Subramanyapura','place']='Phase2'
data.loc[data['place']=='Yelachenahalli','place']='Phase2'

In [9]:
data.loc[data['place']=='Sarakki Nagar','place']='Phase3'
data.loc[data['place']=='Malleshwaram','place']='Phase3'
data.loc[data['place']=='Gunjur','place']='Phase3'
data.loc[data['place']=='Frazer Town','place']='Phase3'
data.loc[data['place']=='Rajaji Nagar','place']='Phase3'

In [10]:
data.place.value_counts()

Phase1    1785
Phase2    1648
Phase3      67
Name: place, dtype: int64

In [10]:
## conversion into numerical 
data.loc[data['place']=='Phase1','place']=1
data.loc[data['place']=='Phase2','place']=2
data.loc[data['place']=='Phase3','place']=3

In [12]:
data.place.value_counts()

1    1785
2    1648
3      67
Name: place, dtype: int64

In [13]:
## preprocessing built
data.built.value_counts()

Super built-up  Area    3148
Built-up  Area           352
Name: built, dtype: int64

In [11]:
data.loc[data['built']=='Super built-up  Area','built']=1
data.loc[data['built']=='Built-up  Area','built']=0

In [12]:
data.built.value_counts()

1    3148
0     352
Name: built, dtype: int64

In [13]:
## preprocessing sale
data.sale.value_counts()

Resale    3500
Name: sale, dtype: int64

In [14]:
## creating X and y
X=data.loc[:,['place', 'built', 'sqft','yearsOld', 'floor', 'totalFloor',
       'bhk']]
y=data.price

In [18]:
X

     place built  sqft  yearsOld  floor  totalFloor  bhk
0        1     1  1450         5      1           4    1
1        2     1  2190         5      3           5    3
2        2     1  1019         1      2           5    2
3        2     1  1857        15      4           5    4
4        2     1  2190         5      3           5    3
...    ...   ...   ...       ...    ...         ...  ...
3495     2     1  1019         1      2           5    2
3496     1     1  1450         5      1           4    1
3497     2     1  1330        10      1           4    1
3498     1     0  1200        10      1           4    1
3499     2     1  1019         1      2           5    2

[3500 rows x 7 columns]

In [19]:
y

0        6300000
1       11500000
2        3800000
3       10500000
4       11500000
          ...
3495     3800000
3496     6300000
3497     7350000
3498     4800000
3499     3800000
Name: price, Length: 3500, dtype: int64

In [15]:
## creating training and testing data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=3)

In [21]:
## importing the model library
from sklearn.ensemble import GradientBoostingRegressor
gbm=GradientBoostingRegressor() ## object creation
gbm.fit(X_train,y_train) ## fitting the data
y_gbm=gbm.predict(X_test)

In [22]:
## evaluatin the model
from sklearn.metrics import r2_score
r2_score(y_test,y_gbm)

0.9999815100751761

In [23]:
adj_r2_score=1-(1-0.99)*(875-1)/(875-7-1)
adj_r2_score

0.989919261822376

In [24]:
X_test.shape

(875, 7)

## Random Forest Implementation

In [16]:
from sklearn.ensemble import RandomForestRegressor

rf_rgr = RandomForestRegressor(n_estimators=100)
rf_rgr.fit(X_train,y_train)

RandomForestRegressor()

In [17]:
y_predict=rf_rgr.predict(X_test)

In [18]:
## Model Evaluation
##prediciton on training data
y_train_predict=rf_rgr.predict(X_train)
from sklearn.metrics import r2_score
train_score=r2_score(y_train,y_train_predict)
train_score

1.0

In [19]:
test_score=r2_score(y_test,y_predict)
test_score

1.0

In [20]:
X_train.shape,X_test.shape

((2625, 7), (875, 7))

In [21]:
## CHecking adjusted r2 score
train_adjusted_r2 = 1-(1-1)*(2625-1)/(2625-7-1)
train_adjusted_r2

1.0

In [22]:
test_adjusted_r2= 1-(1-1.0)*(875-1)/(875-7-1)
test_adjusted_r2

1.0

In [26]:
## Installing XGB library
!pip3 install xgboost

Collecting xgboost
  Downloading xgboost-1.4.2-py3-none-win_amd64.whl (97.8 MB)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.5.2)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.19.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.4.2

In [27]:
import xgboost

In [37]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2625 entries, 1958 to 1898
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   place       2625 non-null   object
 1   built       2625 non-null   object
 2   sqft        2625 non-null   int64
 3   yearsOld    2625 non-null   int64
 4   floor       2625 non-null   int64
 5   totalFloor  2625 non-null   int64
 6   bhk         2625 non-null   int64
dtypes: int64(5), object(2)
memory usage: 164.1+ KB

In [ ]:
X_train.place=X_train.place.astype('int64')
X_train.built=X_train.built.astype('int64')

In [ ]:
X_test.place=X_test.place.astype('int64')
X_test.built=X_test.built.astype('int64')

In [55]:
## model creation
from xgboost import XGBRegressor
xgb_r=XGBRegressor()
xgb_r.fit(X_train,y_train)
y_hat=xgb_r.predict(X_test)

In [56]:
r2_score(y_test,y_hat)

0.9999999999999782

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2625 entries, 1958 to 1898
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   place       2625 non-null   object
 1   built       2625 non-null   object
 2   sqft        2625 non-null   int64
 3   yearsOld    2625 non-null   int64
 4   floor       2625 non-null   int64
 5   totalFloor  2625 non-null   int64
 6   bhk         2625 non-null   int64
dtypes: int64(5), object(2)
memory usage: 164.1+ KB

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2625 entries, 1958 to 1898
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   place       2625 non-null   int64
 1   built       2625 non-null   int64
 2   sqft        2625 non-null   int64
 3   yearsOld    2625 non-null   int64
 4   floor       2625 non-null   int64
 5   totalFloor  2625 non-null   int64
 6   bhk         2625 non-null   int64
dtypes: int64(7)
memory usage: 164.1 KB

In [20]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 875 entries, 439 to 2258
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   place       875 non-null    object
 1   built       875 non-null    object
 2   sqft        875 non-null    int64
 3   yearsOld    875 non-null    int64
 4   floor       875 non-null    int64
 5   totalFloor  875 non-null    int64
 6   bhk         875 non-null    int64
dtypes: int64(5), object(2)
memory usage: 54.7+ KB

In [ ]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 875 entries, 439 to 2258
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   place       875 non-null    int64
 1   built       875 non-null    int64
 2   sqft        875 non-null    int64
 3   yearsOld    875 non-null    int64
 4   floor       875 non-null    int64
 5   totalFloor  875 non-null    int64
 6   bhk         875 non-null    int64
dtypes: int64(7)
memory usage: 54.7 KB